{% extends "base.html" %}
{% block title %}{{ product.name }} - E-Shop{% endblock %}

{% block content %}

<style>
  .wishlist-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    text-decoration: none;
    z-index: 10;
}

.heart-red {
    font-size: 12px;     /* red heart size */
    color: #e53935;
}

.heart-grey {
    font-size: 18px;     /* different size for grey */
    color: #c7c7c7;
}

@media (max-width: 767px) {
    .detail-right {
      margin-top: 1rem;
    }
  }

</style>

<div class="row g-4">

  <div class="col-md-6">
    <div class="card p-3 position-relative">

      <!-- Wishlist Toggle -->
      {% if user.is_authenticated %}
          {% if product.id in wishlist_ids %}
            <a href="{% url 'toggle_wishlist' product.id %}" class="wishlist-btn">
              <span class="heart-red">❤️</span>
            </a>
          {% else %}
            <a href="{% url 'toggle_wishlist' product.id %}" class="wishlist-btn">
              <span class="heart-grey">♡</span>
            </a>
          {% endif %}
      {% endif %}

      {% if product.thumbnail %}
        <img src="{{ product.thumbnail.url }}" class="img-fluid" style="max-height:480px;object-fit:contain;">
      {% else %}
        <img src="https://via.placeholder.com/600x400" class="img-fluid">
      {% endif %}
    </div>
  </div>

  <div class="col-md-6 detail-right">
    <h3>{{ product.name }}</h3>
    <p class="small-muted">{{ product.category.name }}</p>

    {% if product.discount_price %}
      <h4 class="price">₹{{ product.discount_price }}</h4>
      <div class="strike">₹{{ product.price }}</div>
    {% else %}
      <h4 class="price">₹{{ product.price }}</h4>
    {% endif %}

    <p class="mt-3">{{ product.description|linebreaksbr }}</p>

    <div class="mt-4 d-flex flex-wrap gap-2"> 
      <a href="{% url 'add_to_cart' product.id %}" class="btn btn-lg btn-primary flex-fill flex-md-grow-0">Add to Cart</a>
      <a href="{% url 'buy_now' product.id %}" class="btn btn-lg btn-outline-success flex-fill flex-md-grow-0">Buy Now</a>
    </div>
  </div>

</div>

{% endblock %}
