{% extends "base.html" %}
{% block title %}My Orders{% endblock %}

{% block content %}
<h4>My Orders</h4>

{% if orders %}
  <div class="list-group">
    {% for order in orders %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ order.order_no }}</strong><br>
          <small class="small-muted">{{ order.created_at|date:"d M Y, H:i" }}</small>
        </div>
        <div class="text-end">
          <div class="mb-1">{{ order.order_status|title }}</div>
          <div class="small-muted">₹{{ order.total_amount }}</div>
          <a class="btn btn-sm btn-primary mt-2" href="{% url 'order_detail_page' order.id %}">View</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No orders yet.</p>
{% endif %}
{% endblock %}
