{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h4 class="mb-3">Create an account</h4>
      <form method="post">
        {% csrf_token %}
        <div class="row g-2">
          <div class="col-md-6"><input name="first_name" class="form-control" placeholder="First name" required></div>
          <div class="col-md-6"><input name="last_name" class="form-control" placeholder="Last name"></div>
        </div>
        <div class="mb-2 mt-2"><input name="email" type="email" class="form-control" placeholder="Email" required></div>
        <div class="mb-2"><input name="username" class="form-control" placeholder="Username"></div>
        <div class="mb-2"><input name="password" type="password" class="form-control" placeholder="Password" required></div>

        <button class="btn btn-primary w-100 mt-2">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
